@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h4>Search for a  Stylist</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.StylistName)
  @Html.TextBoxFor(model => model.StylistName)
  
  <input type="submit" value="Find this Stylist" />
}
<br>

<div id="nav-links">
<p>@Html.ActionLink("Back to list of all stylists", "Index") 🌺 
  @Html.ActionLink("Home", "Index", "Home") 🌺</p>
</div>