body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgb(247, 156, 156);
  background-image: linear-gradient(rgb(200, 108, 108), rgb(247, 156, 156));
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  color: rgb(144, 52, 52);
}

h2 {
  color: rgb(144, 52, 52);
}

h3 {
  /* text-align: center; */
  color: rgb(144, 52, 52);
}

h4 {
  color: rgb(144, 52, 52);
}

a {
  color: rgb(70, 43, 113);
}

p {
  font-size: large;
}

div#nav-links {
  text-align: center;
}

div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:rgb(247, 156, 156);
  background:rgb(144, 52, 52);
  padding:8px;
}