@{
  Layout = "_Layout";
}

<h1>🌺 Welcome to Eau Claire Salon's Stylist Database 🌺</h1>
<br>

<div id="nav-links">
<h3>@Html.ActionLink("See all clients", "Index", "Clients") 🌺 @Html.ActionLink("See all stylists", "Index", "Stylists")</h3>
</div>

@* The third argument is optional and directs which controller to use for routing *@