@{
  Layout = "_Layout";
}

<h1>Welcome to Eau Claire Salon's Stylist Database</h1>
<br>
<h3>@Html.ActionLink("See all clients", "Index", "Clients") @Html.ActionLink("See all stylists", "Index", "Stylists")</h3>
@* The third argument is optional and directs which controller to use for routing *@